.highlight {
  border-color: red !important;
  background-color: #fdd !important;
}

.highlight:hover {
  border-color: #800 !important;
}

body,
a,
p,
div,
h1,
h2 {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:active {
  cursor: pointer;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #800;
}
p {
  margin-bottom: 10px;
}

.more {
  display: inline;
  float: right;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 5px 1px 5px;
  border: solid 2px;
  margin-top: -2px;
  margin-right: 5px;
  color: #00d;
  border-color: #00d;
}

.header {
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 1px;
  margin-left: 30%;
}

.login,
ul.projects {
  font-size: 1.5em;
  line-height: 2em;
  margin: 100px;
}
ul.projects li,
ul.projects a {
  font-size: inherit;
  line-height: inherit;
}

.updates {
  position: absolute;
}
a.update {
  display: inline-block;
  font-size: 12px;
  padding: 1px 10px 1px 10px;
  border: solid 1px #808;
  margin-top: 5px;
  margin-left: 10px;
  color: #808;
  background-color: rgba(220, 220, 220, 0.7);
}

.build {
  display: inline;
  float: right;
  font-size: 12px;
  font-weight: bold;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border: solid 1px #666;
  margin-top: -4px;
  margin-right: 5px;
  min-height: 18px;
  background-color: white;
  color: #666;
}
.build.success {
  border: solid 1px #444;
  background-color: #eee;
  color: black;
}
.build:hover {
  border-color: black;
}

.build a {
  float: right;
}

/*.env {*/
/*  display: inline;*/
/*  float: right;*/
/*  font-size: 12px;*/
/*  font-weight: bold;*/
/*  padding: 1px 5px 1px 5px;*/
/*  border: solid 2px;*/
/*  margin-top: -3px;*/
/*  margin-left: -3px;*/
/*  margin-right: 5px;*/
/*}*/
/*.env.promote {*/
/*  border-style: dotted;*/
/*}*/
/*.env.rough {*/
/*  border-style: dashed;*/
/*}*/
/*.env.ci {*/
/*  color: #00d;*/
/*  border-color: #00d;*/
/*}*/
/*.env.integration {*/
/*  color: #090;*/
/*  border-color: #090;*/
/*}*/
/*.env.staging {*/
/*  color: #990;*/
/*  border-color: #990;*/
/*}*/
/*.env.production {*/
/*  color: #d00;*/
/*  border-color: #d00;*/
/*}*/

.release {
  position: absolute;
  left: 40px;
  right: 50px;
  padding: 5px;
  border: solid 1px #ccc;
  height: 16px;
  overflow: hidden;
  background-color: white;
}
.release:hover {
  border-color: black;
}

.tickets {
  position: absolute;
  top: 0px;
  left: 135px;
  right: 100px;
}

.ticket {
  position: absolute;
  padding: 5px;
  border: solid 3px #444;
  width: 160px;
  overflow: hidden;
  background-color: rgba(255, 0, 0, 0.7);
  color: black;
}

.parent {
  padding: 0 1px 0 1px;
  border: solid 1px #444;
  background-color: rgba(255, 0, 0, 0.7);
  color: black;
  margin: -2px -2px 0 4px;
  float: right;
}
.unknown {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
}
.nojira {
  background-color: rgba(220, 255, 255, 0.7);
}
.ready {
  background-color: rgba(200, 255, 200, 0.7);
}
.closed {
  background-color: rgba(220, 220, 220, 0.7);
}
.develop {
  background-color: rgba(255, 170, 180, 0.7);
}
.test {
  background-color: rgba(190, 200, 255, 0.7);
}
.review {
  background-color: rgba(220, 190, 255, 0.7);
}

.date {
  float: right;
  text-align: right;
  min-width: 80px;
}
.merge {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 10px solid #444;
  margin-left: -10px;
  margin-top: 2px;
}
a.merge:hover {
  border-right-color: #f44;
}

/*.team {*/
/*  display: inline;*/
/*  float: right;*/
/*  font-size: 12px;*/
/*  font-weight: bold;*/
/*  padding: 1px 5px 1px 5px;*/
/*  border: solid 2px;*/
/*  margin-top: -3px;*/
/*  margin-left: -3px;*/
/*  margin-right: 5px;*/
/*  color: #999;*/
/*  border-color: #999;*/
/*}*/
