.highlight {
  border-color: red !important;
  background-color: #fdd !important;
}

.highlight:hover {
  border-color: #800 !important;
}

body,
a,
p,
div,
h1,
h2 {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:active {
  cursor: pointer;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #800;
}
p {
  margin-bottom: 10px;
}
